:root {
    --orange-red: #ff621a;
    --black: #383838;
    --yellow: #fec548;
    --light-blue: #b4d3ec;
    --light-yellow: #fed170;
    --light-pink: #fdd9c9;

    --container-width:85%;
}

body {
    font-family: "Jost", sans-serif;
    color: var(--black);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    letter-spacing: 2.5px;
    text-transform: uppercase;
}

h1 {
    font-size: 50px;
    font-weight: 600;
}

h2 {

    font-size: 35px;
    font-weight: 600;
    letter-spacing: 1px;
}

p,
span {

    font-size: 20px;
    line-height: 1.4;
}

/* Buttons */
button {
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

.btn.primary,
.btn.secondary {
    font-weight: 600;
    font-size: 14px;
    padding: 13px 15px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

.btn.primary {
    color: white;
    background-color: var(--black);
    box-shadow: 6px 6px 0 -1px var(--orange-red);
}

.btn.secondary {
    color: var(--black);
    background-color: var(--yellow);
    box-shadow: 6px 6px 0 -1px var(--orange-red);
}

.btn.secondary:hover {
    color: white;
    background-color: var(--orange-red);
    box-shadow: 6px 6px 0 -1px var(--yellow);

}

.btn.primary:hover {
    color: white;
    background-color: var(--orange-red);
    box-shadow: 6px 6px 0 -1px var(--black);
}



/* Hero Section */

#hero {

    background-color: var(--black);
    position: relative;
    overflow-x: hidden;
    width: 100%;
    height: max-content;
    color: white;
}

#hero ion-icon {

    color: var(--orange-red);
}

header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:90%;
    margin: 30px auto;
    letter-spacing: 2.5px;
    background-color: white;
    border: 2px solid var(--black);
    padding: 20px 2.5%;
    z-index: 999;
}

nav ul,
nav {
    display: flex;
}

nav ul li {
    margin-right: 30px;
}
ul li{
    list-style: none;
}
header nav ul li.for-mobile{
    display: none;
}


nav ul li a {

    color: var(--black);
    font-weight: 600;
    font-size: 16px;
}

nav ul li a:hover {
    color: var(--orange-red);
}

nav ul li a::after {
    display: block;
    content: '';
    height: 2px;
    width: 0;
    background: var(--orange-red);
}

nav ul li a:hover::after {
    width: 100%;
}

.logo-name {
    font-size: 35px;
    font-weight: 700;
    color: var(--black);
}

.hero-content {
    width: var(--container-width);
    padding: 7% 15% 10% 8%;

}
.hero-content>h1{
    padding-right: 10%;
}

.hero-subtitle {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 2px;
}

.hero-content>p {
    margin: 20px 0;
}


/*About Section*/
#about {
    display: flex;
    column-gap: 5%;
    width: var(--container-width);
    margin: 120px auto 120px;
    align-items: center;
    overflow-x: hidden;
  }
  
  .about-img {
   flex: 0 0 45%;
  }
  .about-img>img{
    max-width:100%;
  }

  .about-content {
    flex: 0 0 50%;
  }

.about-content>p {
    margin: 30px 0 30px 0;
}

#about .buttons a{

    margin-bottom: 30px;
}

.buttons>.btn.btn.secondary {
    margin-right: 30px;
}


/* Skills Section */
#skills,
#projects {
    width: var(--container-width);
    margin: 120px auto 120px;
    align-items: center;
}

#skills ul li:nth-child(1) .card,
#skills ul li:nth-child(4) .card {
    background-color: var(--light-blue);
}

#skills ul li:nth-child(2) .card,
#skills ul li:nth-child(5) .card {
    background-color: var(--light-yellow);
}

#skills ul li:nth-child(3) .card,
#skills ul li:nth-child(6) .card {
    background-color: var(--light-pink);
}


#skills>h2 {
    margin-bottom: 50px;
}

#skills ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap:30px;
    row-gap: 30px;
}

#skills ul li .card {
    border: 2px solid var(--black);
    padding: 30px 50px;
    display: flex;
    align-items: center;
    transition: 0.3s ease-in-out;
}

#skills ul li .card:hover {
    box-shadow: 6px 6px 0 -1px var(--black);

}

.card-title {
    font-size: 20px;
    font-weight: 500;
    margin-left: 20px;
}

.card-media {
    background-color: white;
    border: 2px solid var(--black);
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-media>img {
    width: 40px;
    height: 40px;
}

ion-icon {
    font-size: 30px;
}


/* Resume Section*/

#resume {
    background-color: var(--black);
    padding: 40px 9%;
    display: flex;
    justify-content: space-between;
}

#resume h2 {
    color: white;
}



/* Projects Section*/

#projects>h2 {
    margin-bottom: 50px;
}

.project {
    display: flex;
    column-gap: 10%;
    margin-bottom: 80px;
    align-items: flex-start;
}

.project>.img {
    position: relative;
    flex: 45% 0 0;
    width:100%;
}
.project img{
    max-width: 100%;
    transition: all 0.3s;
    border: 2px solid var(--black);
}

.project>.img img:hover {
    box-shadow: 6px 6px 0 -1px #ff621a33;
}

.project>.content {
    flex: 45% 0 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}
.project>.content p{
    margin: 20px 0;
}


.project>.img .icon {
    position: absolute;
    top: 8px;
    left: 8px;
    background-color: white;
    padding: 5px 5px;
    border: 2px solid var(--black);
    color: #222;
    display: none;
    transition: all 0.3s;


}

.project>.img ion-icon {
    font-size: 25px;
    transform: rotate(-45deg);
    display: none;
    transition: all 0.3s;
}


.project>.img:hover ion-icon,
.project>.img:hover a {
    display: block;
}



.project .category {
    margin:0 0 20px;
    background-color: #ff621a33;
    padding: 2px 20px;
    border-radius: 30px;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
    line-height: 3;
}

.title {
    font-size: 30px;
    line-height: 1.3;
    padding-right: 5%;
}

.project p {
    padding-right: 5%;
}



/* Contact Section */

#contact {
    background-color: var(--black);
    padding: 7%;

}

#contact .container {
    display: flex;
    gap: 10%;
    align-items: center;
}

.contact-form {
    background-color: white;
    padding: 45px 50px;
    flex: 0 0 45%;
}

#form-title {
    margin-bottom: 8px;
}

.form-text {
    margin: 5px 20px 25px 0;
}

label.label {
    display: block;
    margin-bottom: 8px;
}

.input-field {
    padding: 10px 12px;
    border: 1px solid var(--black);
    margin-bottom: 24px;
    outline: none;
    transition: box-shadow var(--transition-1);
}

.input-field:focus {
    box-shadow: inset 0 0 0 1px var(--black);
}

input {

    width: 100%;
    min-height: 50px;
}

textarea {
    resize: vertical;
    width: 100%;
    min-height: 110px;
    max-height: 120px;
}

.wrapper {
    width: 100%;
    display: flex;
    gap: 5%;

}

.wrapper div {
    flex: 47.5% 0 0;
}

.contact-content {

    flex: 0 0 40%;

}

#contact button {
    border: none;
}


.contact-list .contact-item {
    display: flex;
    align-items: flex-end;
    gap: 15px;
}

.contact-item:nth-child(1) .item-icon {
    background-color: var(--light-blue);
}

.contact-item:nth-child(2) .item-icon {
    background-color: var(--light-yellow);
}

.contact-item:nth-child(3) .item-icon {
    background-color: var(--light-pink);
}

.contact-list .contact-item:not(:last-child) {
    margin-bottom: 35px;
}

.contact-list .item-icon {
    color: var(--black);
    width: 55px;
    height: 55px;
    display: grid;
    place-items: center;
    flex-shrink: 0;
}

#contact .label-content {
    color: lightgrey;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 5px;
}

#contact .body-content {
    color: white;
    font-weight: 500;
    text-transform: none;
    font-style: normal;
    font-size: 20px;
    letter-spacing: 1px;
    word-break: break-all;
}



/*Footer*/

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 7%;
    color: lightgrey;
    background-color: var(--black);
    border-top: 1px solid darkgrey;
    font-size: 16px;
}

footer ion-icon {
    color: lightgrey;
    font-size: 25px;
    margin-right: 20px;

}

#myBtn ion-icon {

    color: var(--black);
    padding: 5px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #fec548;
    box-shadow: 6px 6px 0 -1px var(--orange-red);


}

#myBtn ion-icon:hover {
    color: white;
    background-color: var(--orange-red);
    box-shadow: 6px 6px 0 -1px #fec548;
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    border: none;
    cursor: pointer;
}
.copyright-notice{
margin-right: 30px;
}


/*Media Queries */

@media(max-width:1024px) {

    :root{
        --container-width:90%;
    }
   /*Hero Section*/
    .hero-content{
        padding-right:10%;
    }
    /*Contact Section*/
    #contact .container{
        gap:5%;
    }
    .contact-form{
        flex:0 0 55%;
    }
    .contact-content{
        flex:0 0 40%;
        padding-right: 2px;
    }

}

@media(max-width:950px) {
    /*Header*/

    header a.btn.for-wideScreen{
        display:none;
    }
    header nav{
        position: absolute;
        top:89px;
        left:0;
        border-top: 0.1px solid var(--black);
        background-color: white;
        width:100%;
        height:390px;
        z-index:1;
        display: none;
    }
    header nav ul {
        
        padding:30px 20px;
        flex-direction: column;
    
      }
    
      header nav ul li {
        margin-bottom: 32px;
      }
      header nav ul li.for-mobile{
        display: block;
      }
    
    
      header i.fa-solid {
        display: inline-block;
        font-size: 20px;
        padding: 15px;
        border-radius: 15px;
        color: white;
        background-color: var(--black);
        cursor: pointer;
      }
    
    /* ------------------- */
    .hero-subtitle{
        font-size: 16px;
    }
    p,span{
        font-size:18px;
    }
    h1{
        font-size:40px;
    }
    h2{
        font-size:25px;
    }
    /*About Section*/
    #about{
        flex-direction: column;
        align-items: flex-start;
        row-gap:30px;
        margin:50px auto 50px;
    }
    /*Skills Section */
    #skills, #projects{
        margin:50px auto 50px;
    }
    #skills ul{
        grid-template-columns: repeat(2,1fr);
    }
    /*Resume Section */
    #resume{
        padding:40px 6%;
    }
    /*Projects Section */
    .project{
        flex-direction: column;
        row-gap:40px;
    }
    .project>.img{
        width:70%;
    }
    .title{
        font-size: 25px;

    }
  
    .project>.img {
        order: 1;
    }
    
    .project>.content {
        order: 2;
    }

    /*Contact Section */
    #contact{
        padding-top: 80px;
    }
    #contact .container{
        flex-direction: column;
        row-gap:50px;
        align-items: flex-start;
        margin-left: 0;
    }
   /*Footer*/
   .copyright-notice{
    margin-right: 50px;
   }
   #myBtn ion-icon{
    margin-right: 10px;
   }
    
   
}

@media(max-width:767px) {
    h1{
        font-size: 30px;
    }
    h2{
        font-size: 22px;
    }
    .hero-content{
        padding: 60px 5px 120px 7%;
        padding-right: 5%;
    }
    /*Skills Section*/
    #skills ul{
       column-gap:30px;
    }
    #skills ul li .card{
        padding: 10px;
    }
    /*Skills Section*/
    #resume{
        flex-direction: column;
        row-gap:40px;
        align-items: flex-start;

    }
    /*Footer*/
    footer{
     flex-direction: column;
     align-items: flex-start;
     padding:30px 7%;
    }
    .copyright-notice{
        margin-top: 10px;
     }
}

@media (max-width:500px) {
    :root{
        --container-width:95%;
    }
    /*Hero Section*/
    .hero-content{
        padding: 30px 2px 100px 7%;
       
    }
    .hero-content>p{
       font-size: 14px;
    }
    .hero-content>h1{
        padding-right: 0;
    }
    /*About Section*/
    .buttons>.btn.btn.secondary{
        margin-right: 20px;
    }
    /*Skills Section*/
    #skills ul{
        grid-template-columns: 1fr;
     }
     #skills ul li .card{
        width:80%;
     }
     /*Contact Section*/
     .contact-form{
        padding: 35px 20px;
     }
     .form-text{
        margin: 5px 10px 25px 0;
     }
     #contact .body-content{
        font-size: 15px;
     }
     
}